body {
    color: #333333;
    font-family: arial;
    width: 650px;
    margin: 0 auto;
    padding-left: 16px;
}

.footer {
    width: 100vw;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(103, 165, 108, 0.329);
    padding: 0 20px;
}

.header > a {

    color: #888888;
    text-decoration: none;
}
